h1, p, button, .link, li {
  font-family: 'Corben', Georgia, Times, serif;
}

body {
  background-color: rgb(59, 111, 153);
  font-size: 20px;
}

h1 {
  font-size: 100px;
  line-height: 75px;
  padding-top: 20px;
  margin: 30px;
  color: white;
  text-align: center;
}

button {
  width: 200px;
  height: 70px;
  margin: 20px;
  border-radius: 10px;
  background-color: #333;
  font-size: 20px;
  color: white;
  text-align: center;
  border-style: none;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

.link {
  font-size: 20px;
  color: white;
  text-decoration: none;
}

button:hover {
  background-color: #252525;
}

.title-button {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  align-self: center;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.Home {
  text-align: center;
  display: block;
  width: 100%;
  height: 100%;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #333;
  display: flex;
  align-items: center;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

.navbar ul li {
  float: left;
}

.navbar ul li:hover {
  background-color: #252525;
}

.navbar ul li a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  margin: 10px;
  text-decoration: none;
}

.saved-recipes ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.saved-recipes ul li {
  width: 60%;
  border-style: solid;
  border-radius: 10px;
  margin: 20px;
  display: flex;
  background-color: white;
  height: 120px;
}

img {
  width: 100px;
  height: auto;
  margin: 10px;
}

.saved-recipes ul li p {
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
  float: left;
  font-size: 25px;
}

.saved-recipes h1 {
  margin: 50px;
}

.edit {
  margin-left: auto;
  margin-right: 20px;
}

.delete {
  margin-left: 10px;
  margin-right: 20px;
}