h1, h3, p, button, .link, li, label, button, input, textarea {
  font-family: 'Corben', Georgia, Times, serif;
}

body {
  background-color: rgb(59, 111, 153);
  font-size: 20px;
}

h1 {
  font-size: 100px;
  line-height: 75px;
  padding-top: 20px;
  margin: 30px;
  color: white;
  text-align: center;
}

h3 {
  font-size: 30px;
  line-height: 75px;
  padding-top: 20px;
  margin-top: -15px;
  margin-bottom: 10px;
  color: white;
  text-align: center;
}

.blur {
  width: 100%;
  height: 100%;
  position: fixed;
  backdrop-filter: blur(2px);
  background-color: rgba(0, 0, 0, 0.3);
}

.helper-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  background-color: white;
  width: 800px;
  height: 500px;
  border-radius: 10px;
  margin: auto;
  padding: 20px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.helper-modal h1 {
  color: black;
  line-height: normal;
  font-size: 90px;
  margin: 20px;
  padding: 0;
}

.helper-modal .back-next-buttons {
  position: fixed;
  left: 0;
  bottom: 10px;
  display: flex;
  width: 100%;
  height: auto;
  justify-content: center;
}

.helper-modal .buttons button, .helper-modal .back-next-buttons button {
  font-size: 20px;
  color: black;
  text-decoration: none;
  width: 200px;
  height: 70px;
  margin: 20px;
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
  justify-content: center;
  align-items: center;
}

.helper-modal button:hover {
  background-color: rgba(0, 0, 0, 0.15);
}

.helper-modal img {
  height: 300px;
  width: auto;
  object-fit: contain;
}

.helper-modal p {
  text-align: center;
  margin: 20px;
  height: 120px;
  line-height: 30px;
}

.close {
  position: fixed;
  top: 15px;
  right: 15px;
  background-color: white;
  border-style: none;
  border-radius: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  font-size: 20px;
}

.link {
  font-size: 20px;
  color: white;
  text-decoration: none;
  width: 200px;
  height: 70px;
  margin: 20px;
  border-radius: 10px;
  background-color: #333;
  text-align: center;
  border-style: none;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.link:hover {
  background-color: #252525;
}

.title-button {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  align-self: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.Home {
  text-align: center;
  display: block;
  width: 100%;
  height: 100%;
}

.navbar {
  position: fixed;
  width: 100%;
  top: 0;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #333;
  display: flex;
  align-items: center;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

.navbar ul li {
  float: left;
}

.navbar ul li:hover {
  background-color: #252525;
}

.navbar ul li a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  margin: 10px;
  text-decoration: none;
}

.saved-recipes ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

.saved-recipes ul li {
  width: 60%;
  border-style: solid;
  border-width: 5px;
  border-color: rgba(0, 0, 0, 0);
  border-radius: 10px;
  margin: auto;
  margin-top: 20px;
  display: flex;
  background-color: white;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
  height: 120px;
  cursor: pointer;
  text-decoration: none;
  color: black;
}

.saved-recipes ul li:hover {
  border-color: rgba(0, 0, 0, 0.2);
}

.preview-image {
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin: 10px;
}

.delete {
  width: 30px;
  height: 30px;
  align-self: center;
  transform: translateX(-5px);
  margin-left: 0px;
  margin-right: 10px;
  padding: 10px;
  cursor: pointer;
}

.edit {
  width: 30px;
  height: 30px;
  align-self: center;
  margin-left: auto;
  margin-right: 10px;
  padding: 10px;
  cursor: pointer;
}

.edit:hover, .delete:hover {
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.19);
}

.saved-recipe-link p {
  text-align: left;
  margin-top: auto;
  margin-bottom: auto;
  float: left;
  font-size: 25px;
  text-decoration: none;
  color: black;
}

.saved-recipes h1 {
  margin: 50px;
  margin-top: 110px;
}

.saved-recipe-link {
  width: 100%;
  display: flex;
}

.edit-recipe-link {
  display: flex;
  justify-content: center;
}

.new-recipe {
  width: 60px;
  height: 60px;
  border-radius: 100%;
  border: none;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
  position: fixed;
  right: 30px;
  bottom: 30px;
  font-size: 26px;
  cursor: pointer;
  color: #333;
  background-color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
}

.new-recipe:hover {
  right: 27px;
  bottom: 27px;
  height: 66px;
  width: 66px;
  border-radius: 33px;
  font-size: 30px;
  color: #252525;
}

.create-recipe {
  background-color: white;
  width: 800px;
  height: auto;
  border-radius: 10px;
  margin: auto;
  margin-top: 110px;
  padding: 20px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

.create-recipe h3 {
  color: #333;
  font-size: 40px;
}

.create-recipe-field {
  margin: 10px;
  display: flex;
  justify-content: flex-start;
  padding: 5px;
  flex-wrap: wrap;
}

.create-recipe-field label {
  margin: 5px;
}

#enter-name, #enter-url {
  align-items: center;
}

#enter-description, #enter-directions {
  display: flex;
  flex-direction: column;
}

.buttons {
  display: flex;
  justify-content: center;
}

.button {
  margin: 10px;
  width: 120px;
  height: 40px;
  border-radius: 10px;
  border-style: solid;
  border-width: 1px;
  background-color: #333;
  color: white;
  font-size: 18px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

.button:hover {
  background-color: #252525;
  cursor: pointer;
}

textarea {
  min-width: 100%;
  max-width: 100%;
  height: 70px;
}

button {
  cursor: pointer;
}

.recipe-details {
  margin: auto;
  margin-top: 80px;
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 60%;
}

.recipe-details ul, .recipe-details p {
  color: white;
  font-size: larger;
}

.recipe-details h1 {
  width: 100%;
  line-height: normal;
  font-size: 60px;
}

.recipe-details img {
  height: 510px;
  margin: 20px;
  margin-bottom: 40px;
  object-fit: contain;
}